/* css styles */
.cell-output-display {
    max-height: 56rem;
    overflow-y: auto;
}

.cell-output-stderr>pre {
    max-height: 56rem;
    overflow-y: auto;
}

.cell-output-stdout>pre {
    max-height: 56rem;
    overflow-y: auto;
}
